<a href="https://colab.research.google.com/github/KodaliSuchitraKamala/CPT_Training/blob/main/Cpt2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sq = [x**2 for x in range(5)]
print(sq)

[0, 1, 4, 9, 16]

In [ ]:
sq = [x**3 for x in range(5)]
print(sq)

[0, 1, 8, 27, 64]

In [ ]:
sq = [x for x in range(5)]
print(sq)

[0, 1, 2, 3, 4]

## List

In [ ]:
words = ['apple','banana','kiwi']
upp = [word.upper() for word in words]
print(upp)

['APPLE', 'BANANA', 'KIWI']

In [ ]:
# nested list comprehension on 2d matrix to flatten
matrix = [[1,2,3],[4,5,6],[7,8,9]]
flat = [num for row in matrix for num in row]
print(flat)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
matrix = [[1,2],[3,4],[5,6]]
flat = [ num for row in matrix for num in row]
print(flat)

[1, 2, 3, 4, 5, 6]

In [ ]:
# using logical condition , replace all the negative numbers with zeros
nums = [-2 , -1,  0, 1, 2]
nonneg = [x if x>=0 else 0 for x in nums]
print(nonneg)
# we use the syntaxs in list or not
# list have a delimiters like starting and ending ([]) so syntax is not applicable in delimiters

[0, 0, 0, 1, 2]

In [ ]:
words = ['apple','kiwi','banana']
fc = [word[0] for word in words]
print(fc)

['a', 'k', 'b']

In [ ]:
words = ['apple','kiwi','banana']
fc = [len(word) for word in words]
print(fc)

[5, 4, 6]

In [ ]:
# filtering none values
items = [1,None,2,3,None,4,5]
valid = [x for x in items if x is not None]
print(valid)

[1, 2, 3, 4, 5]

In [ ]:
items = [1,None,2,3,None,4,5]
valid = [x for x in items if x is  None]
print(valid)

[None, None]

In [ ]:
names = ['suchi','roopa', 'eshu']
ages = [20,21,21]
pair = [(name, age) for name in names for age in ages]
print(pair)

[('suchi', 20), ('suchi', 21), ('suchi', 21), ('roopa', 20), ('roopa', 21), ('roopa', 21), ('eshu', 20), ('eshu', 21), ('eshu', 21)]

In [ ]:
names = ['suchi', 'roopa']
ages = [20,21]
pair = [(name,age) for name in names for age in ages]
print(pair)

[('suchi', 20), ('suchi', 21), ('roopa', 20), ('roopa', 21)]

In [ ]:
# given a string , create a list of all vowels in the string using list comprehensions
text = "hello students Good MorninG"
vowels = [char for char in text if char.lower() in 'aeiouAEIOU']
print(vowels)

['e', 'o', 'u', 'e', 'o', 'o', 'o', 'i']

## Patterns

In [ ]:
#
n = 3
for i in range(n):
    for j in range(n):
        print('#',end = ' ')
print()

# # # # # # # # #

In [ ]:
x = int(input("enter any value:"))
for i in range(x):
    for j in range(x):
        print('*',end = ' ')
    print()

enter any value:5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
x = int(input("enter any value:"))
for i in range(x):
    for j in range(x):
        if i==0 or j==0 or i==x-1 or j==x-1:
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value:5
* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
x = int(input("enter any value:"))
for i in range(x):
    for j in range(x):
        if i==0 or j==0 or i==x-1 or j==x-1 or i==j:
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value:5
* * * * *
* *     *
*   *   *
*     * *
* * * * *

In [ ]:
x = int(input("enter any value:"))
for i in range(x):
    for j in range(x):
        if j==0 or j==x-1 or i==j  or i+j==x-1 :
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value:5
*       *
* *   * *
*   *   *
* *   * *
*       *

In [ ]:
x = int(input("enter any value:"))
for i in range(x):
    for j in range(x):
        if i==0 or i==x-1 or i==j  or i+j==x-1 :
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value:5
* * * * *
  *   *
    *
  *   *
* * * * *

In [ ]:
x = int(input("enter any value:"))
for i in range(x):
    for j in range(x):
        if i==j  or j==0 or i==x-1 :
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value:5
*
* *
*   *
*     *
* * * * *

In [ ]:
x = int(input("enter any value:"))
for i in range(x):
    for j in range(x):
        if i==j or  i+j==x-1 :
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value:5
*       *
  *   *
    *
  *   *
*       *

In [ ]:
x = int(input("enter any value:"))
for i in range(x):
    for j in range(x):
        if i==0 or j==0  or i+j==x-1 :
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value:5
* * * * *
*     *
*   *
* *
*

In [ ]:
x = int(input("enter any value:"))
for i in range(x):
    for j in range(x):
        if i==0 or j==0 or i==x-1 or j==x-1 or i==j  or i+j==x-1 :
            print('*',end = ' ')
        else:
            print(' ',end = ' ')
    print()

enter any value:5
* * * * *
* *   * *
*   *   *
* *   * *
* * * * *

In [ ]:
n=4
matrix= [[0] *n for _ in range(n)]
num=1
top= 0
bottom= n-1
left= 0
right= n-1
while top<=bottom and left <=right:
    for i in range(left, right+1):
        matrix[top][i]= num
        num+=1
    top +=1
    for i in range(top, bottom+1):
        matrix[i][right]= num
        num+=1
    right -=1
    for i in range( right, left-1, -1):
        matrix[bottom][i]= num
        num+=1
    bottom -=1
    for i in range(bottom, top-1, -1):
        matrix[i][left]= num
        num+=1
    left +=1
for row in matrix:
    for val in row:
        print(f"{val:2}", end=' ')
    print()

 1  2  3  4
12 13 14  5
11 16 15  6
10  9  8  7