<a href="https://colab.research.google.com/github/KodaliSuchitraKamala/CPT_Training/blob/main/Cpt3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Fucntions
#### Argument - Return
#### Argument - No Return
#### No Argument - Return
#### No Argument - No Return

In [ ]:
def hi(name):
  return f"Hello, {name}"
print(hi("Suchitra"))

Hello, Suchitra

In [ ]:
# functions with default parameters
def sample(x, y = 1):
  return x * y
print(sample(5))
print(sample(5,3))

5
15

In [ ]:
# functions with keyword arguments "*"" to pass n no.of arguments
def result(*args):
  return sum(args)
print(result(1,2,3))
print(result(11, 22, 33, 44))

6
110

In [ ]:
# functions with keywords arguments **
def info(** kwargs):               # k - key, w - word, args - arguments
  for key, value in kwargs.items():
    print(f"{key} : {value}")
info(name = "Suchitra", age = 20, city = "Hyderbad")

name : Suchitra
age : 20
city : Hyderbad

In [ ]:
# Lambda Function
sq = lambda x: x * x
print(sq(5))
add = lambda x, y: x + y
print(add(3,5))
mul = lambda x,y,z: x*y*z
print(mul(3,6,5))

25
8
90

In [ ]:
''' write a Program to return n number of multiple values
where passing a list of 1 to 5 elements
return the min max and avg in a single function'''
def allnum(n):
  return min(n), max(n), sum(n)/len(n)
min_val, max_val, avg_val = allnum([1, 2, 3, 4, 5])
print(f"Min: {min_val}, Max: {max_val}, Average: {avg_val}")

Min: 1, Max: 5, Average: 3.0

## Recursive Functions

#### Direct - function call itself directly : Factorial
#### Indirect - two or more functions call each other: Geedy method
#### Tail - ending example: Factorial
#### Non-Tail (or) Head -starting
#### Tree - root left and right
#### Linear - calling itself only once
#### Binary - calling itself twice
#### Multiple - one function invoke multiple other functions
#### Nested - nest within the mutiple nested
#### Mutual - one function to other function
#### Divide and Conquer - break function to multiple and solve
#### Absolute (or) Static - after return it calls multiple times same function

#### Direct Recursive Function

In [ ]:
# Direct Recursive Function
def fact(n):
  if n == 0 or n == 1:
    return 1
  return n * fact(n - 1)
print(fact(5))

120

#### Indirect Recursive Function

In [ ]:
# Indirect Recursive Fuction
def even(n):
  if n == 0:
    return True
  return odd(n-1)
def odd(n):
  if n == 0:
    return False
  return even(n-1)
print(even(4))
print(odd(3))

True
True

#### Tail Recursive Function

In [ ]:
# Tail Recursive Function
def fact(n, t = 1):
  if n == 0 or n == 1:
    return t
  return fact(n - 1, n * t)
print(fact(5))

120

#### Linear Recursive Function

In [ ]:
def total(n):
  if n <= 0:
    return 0
  return n + total(n - 1)
print(total(10))

55

#### Nested Recursive Function for super Factorial
###### (3!)! : factorial -> (3 2 1)! = 6, Super Factorial -> 3! 2! 1! = 12

In [ ]:
def sfact(n):
  if n <= 0:
    return 1
  return fact(n) * sfact(n - 1)
def fact(n):
  if n <= 1:
    return 1
  return n * fact(n - 1)
print(sfact(3))

12

## Power Tower
#### (2, 3) -> 2 ^ (2 ^ 2) = 2 ^ (4) = 16
####  2 ^ 3 = 8
#### (3, 2) -> 3 ^ (3) = 27

In [ ]:
def pt(a, n):
  if n == 1:
    return a
  return a ** pt(a, n -1)
print(pt(2, 3))
print(pt(3, 2))